# .gitignore

# Backend
/backend/tmp/
/backend/log/
/backend/storage/
/backend/.env.local
/backend/config/master.key

# Frontend
/frontend/node_modules/
/frontend/.next/
/frontend/.env.local
/frontend/coverage/

# General
.DS_Store
.env*
/log/
/tmp/